/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

/* Navbar styling */
nav .nav-item {
    background-color: rgb(255, 255, 255);
    border: black 1px solid;
}
nav img {
    margin-left: 8px;
    height: 50px;
}
nav .btn {
    border: black 2px solid;
    border-radius: 0px;
    background-color: rgb(226, 107, 39);
    color: rgb(0, 0, 0);
}
body {
    background: url("../images/Sunny_BG_1.jpg") center/cover no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-top: 50px;
    /* Adjust padding to prevent content from being hidden behind navbar */
}
.search-input {
    max-width: 420px;
}
/* Searchbar styling */

#location-form .search-input {
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
}

/*Hero Section*/
#hero h1 {
    color: #fdd90d;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 3rem;
    font-family: "boldonse", sans-serif;
    text-shadow: #5c5a50 1px 0 10px;
}

#location-form .search-input {
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
}

#location-form .btn {
    border-radius: 0px;
    background-color: #f6ffa5;
    color: #000000;
    border: black 2px solid;
}
/*moving bootstrap default card-body style into custonm class for weather cards and js interactivity*/
.weather-card {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    border-radius: 0 !important;
    min-width: 150px;
    max-width: 300px;
}

.weather-card-today {
    border-left: 4px solid #0d6efd;
}

/* Footer Styling */
footer {
    background-color: rgb(226, 107, 39);
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}

footer h5 {
    font-family: "boldonse", sans-serif;
    font-size: 30px;
}

footer p {
    margin: 1px;
}
